[submodule ".vim/pack/bt/start/vim-visual-star-search"]
	path = .vim/pack/bt/start/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
[submodule ".vim/pack/bt/start/vim-plugin-autosess"]
	path = .vim/pack/bt/start/vim-plugin-autosess
	url = https://github.com/powerman/vim-plugin-autosess.git
[submodule ".vim/pack/bt/start/vim-commentary"]
	path = .vim/pack/bt/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/bt/start/vim-clang-format"]
	path = .vim/pack/bt/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
